# Dossiers d'environnement virtuel
my_env/
venv/
.venv/

# Dossier de build (sera généré)
build/

# Fichiers et dossiers de cache
__pycache__/
*.pyc

# Configuration locale VS Code
.vscode/

# Fichier des secrets locaux (si vous en avez)
.env