{% extends "layout.html" %}

{% block title %}Contact{% endblock %}

{% block main %}

<section class="text-center py-5 fade-in-section is-visible">
    <h1 class="section-title">Contact</h1>
    <p class="lead col-md-8 mx-auto">
        Je suis toujours ouvert à de nouvelles opportunités et à des collaborations passionnantes. N'hésitez pas à me contacter par e-mail ou à me retrouver sur les réseaux sociaux.
    </p>
    <div class="mt-4">
        <a href="mailto:oumarbarry75371687@gmail.com" class="btn btn-success btn-lg">
            <i class="bi bi-envelope-fill"></i> Envoyer un e-mail
        </a>
    </div>

    <div class="mt-5">
        <h3>Retrouvez-moi sur</h3>
        <a href="https://www.linkedin.com/in/oumar-barry-0876a12a3" class="fs-2 text-dark mx-2" target="_blank" aria-label="LinkedIn"><i class="bi bi-linkedin"></i></a>
        <a href="https://github.com/oumarbarry" class="fs-2 text-dark mx-2" target="_blank" aria-label="GitHub"><i class="bi bi-github"></i></a>
    </div>
</section>
{% endblock %}